@import "./utils/variables";
@import "./utils/mixins";
@import "./Components/selecteurs";


    h1, h2{
        @include typo-titres(5em);
    }
    h3{
        @include typo-titres(1.5em);
        margin-bottom: 0.5em;
    }
    p{
        font-family: $police_texte;
        font-weight: light;
        font-size: 3em;
    }
    /*Adaptation des éléments*/
    header{
        width:98em;
    }
    #section_fonctionnement{
        margin: 3em;
        width: 93em;
    }

    #logo{
        width: 37em;
        margin-top: 3em;
        margin-bottom: 3em;
    }
    .icons{
        font-size: 3.5em;
        padding: 0.5em;
        opacity: 50%;
        margin-left: 0.5em;
    }
    #lieu{
        background-color: $fond_header_ville;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    form{
        width: 33em;
    }
    form input{
        height: 5em;
        width: auto;
        background-color: $fond_header_ville;
        border: 0px;
    }
    #ville{
        @include typo-titres(3em);
    }
    h1{
        width:80%;
        text-align: center;
        margin-bottom: 0em;
    }
    #texte_header{
        width: 90%;
        text-align: center;
        margin: 0em;
    }
    #exploration{
        height: 53em;
        width: 100%;
        display: flex;
        align-items: flex-start;
    }
    #box_exploration{
        margin-top: 3em;
        height: 40em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    figcaption{
        @include typo-titres (2.5em);
    }
    .bulle_chiffre:nth-child(1){
        margin-left: -50px;
    }
    /*Figure*/
    .figcaption_restaurants{
     width: 93%;
     border-radius: 0px 0px 40px 40px;
     background-color: white;
     padding-left: 1em;
    }
    /*Coeur avec animation*/
    .coeur_box{
        .coeur_plein{
            opacity: 0;
        }
        &:hover{
            .coeur{
                opacity: 0;
                transition: .5s 0s ease;
            }
            .coeur_plein{
                @include coeur;
                font-weight: 900;
                font-size: 2.3em;
                display: flex;
                justify-content: flex-end;
                margin-top: -90px;
                opacity: 1;
            }
        }
    }
    .coeur:nth-child(1){
        
        font-size: 2.3em;
        display: flex;
        justify-content: flex-end;
        margin-top: -70px;
        font-weight: 0;
    }
/*Menu*/
    .coeur_box_menu{   
        height: 0em;
        .coeur_plein_menu{
            opacity: 0;
        }
        &:hover{
            .coeur_menu{
                opacity: 0;
                transition: .5s 0s ease;
            }
            .coeur_plein_menu{
                @include coeur;
                font-weight: 900;
                font-size: 4em;
                display: flex;
                justify-content: flex-end;
                margin-top: -161px;
                position: relative;
                right:1.25em;
                opacity: 1;
            }
        }
    }
    .coeur_menu:nth-child(2){
        font-size: 5em;
        display: flex;
        justify-content: flex-end;
        margin-top: -70px;
        font-weight: 0;
    }
 
    .etiquette:nth-child(1){
        @include typo-titres(2.5em);
        background-color: $couleur_tertiaire;
        filter: brightness(115%);
        border-radius: 10px;
        width:6em;
        height: 2em;
        text-align: center;
        padding-top: 25px;
        color:green;
        margin-left: 20em;
        margin-bottom: -4.3em;
        z-index: 1;
    }
    #titre_restaurants{
        margin-left: 0.7em;
        padding-top: 1.3em;
    }
    #section_restaurants{
        margin-top: 15em;
        height:270em;
        width:98em;
    }
    /*Footer*/
    footer{
        background-color: #353535;
        height: 12em;
        width: 36em;
        padding-left: 3em;
        padding-top: 1em;
        font-size: 2.5em;
        ul{
            list-style-type: none;
            li{
                color: white;
                a{
                    color: white;
                    text-decoration: none;
                    @include typo-footer(1em);
                }
            }
        }
    }
    #le_menu{
        width:89em;
        height: 210em;
        background-color: $fond_gris;
        padding-top: 1em;
        margin-top: -50px;
        padding-left: 4em;
        padding-right: 4em;
        border-radius: 70px 70px 0px 0px;
    }
    
    #image_menu_un{
        @include background-image("/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg")
    }
    #image_menu_deux{
        @include background-image("/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg")
    }
    #image_menu_trois{
        @include background-image("/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg")
    }
    #image_menu_quatre{
        @include background-image("/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg")
    }
    .icons_menu{
        font-size: 3em;
        position: relative;
        right:8em;
    }
    a{
        text-decoration: none;
        color: black;
    }
   /*SPINNER LOADING*/
   .box_spinner{
    animation: spinner-appear 2s .2s;
    z-index: -2;
    opacity: 0;
    .spinner_1{
        &::before{
            content:"";
            
            position:absolute;
            top:50%; left:50%;
            width:200px;
            height:200px;
            margin-top:-30px;
            margin-left:-30px;
            border-radius: 50%;
            border: 20px solid $couleur_primaire;
            border-top-color: $couleur_secondaire;
            animation: spinner 0.7s ease infinite;
            opacity:1; 
            z-index: -1;
            background-color: #f6f6f6;
        }
    }
 
    .spinner_2{
     &::before{
         content:"";
         position:absolute;
         top:51.8%; left:52.5%;
         width:118px;
         height:118px;
         margin-top:-30px;
         margin-left:-30px;
         border-radius: 50%;
         border: 20px solid transparent;
         border-top-color: $couleur_tertiaire;
         animation: spinner_2 0.7s ease-in-out infinite;
     }
   }
 
}

 
   @keyframes spinner{
       to{
           transform: rotate(360deg);
       }
   }
   @keyframes spinner_2{
    to{
        transform: rotate(-360deg);
    }
    }
    @keyframes spinner-appear {
        0%{
        opacity: 1;
        z-index: 1;
        }
        94%{
        opacity: 0.8;
        z-index: 1;
        }
        98%{
        opacity: 0.4;
        z-index: 1;
        }
        100%{
        opacity: 0;
        z-index: 1;
        }
    }

    @keyframes appear {
        0%{
        opacity: 0;
        z-index: 1;
        }
        50%{
        opacity: 0.5;
        z-index: 1;
        }
        70%{
        opacity: 0.7;
        z-index: 1;
        }
        100%{
        opacity: 1;
        z-index: 1;
        }
    }
    /*Apparition des plats*/
    @keyframes fadeAndScale2 {
        0% {
            opacity: 0;
            
        }
        20%{
            opacity:0.2;
            
        }
    
        40% {
            opacity: 0.7;
            
        }
        60%{
            opacity:0.6;
        }
        80%{
            opacity:0.8;
        }
        100% {
            opacity: 1;
            
        }
    }
   

        .apparition{
            animation: fadeAndScale2 0.5s;
            animation-delay: 0.5s;
            animation-fill-mode: backwards;
        }
        .apparition_2{
            animation: fadeAndScale2 0.5;
            animation-delay: 1s;
            animation-fill-mode: backwards;
        }
        .apparition_3{
            animation: fadeAndScale2 0.5s;
            animation-delay: 1.5s;
            animation-fill-mode: backwards;
        }

       
        .bulles_menu{
            height: 14em;
            margin-bottom: 1em;
            overflow: hidden;
            text-overflow: ellipsis;
                .icon_validation{
                    opacity: 0;
                }
            &:hover{
                .validation{ 
                        border-radius: 0px 25px 25px 0px;
                        background-color: $couleur_tertiaire;
                        width: 15em;
                        height: 15em;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        bottom:15.5em; left:74em;
                        animation: slide 1s;
                }
                    .icon_validation{
                        opacity: 1;
                        font-size: 4.5em;
                        color: white;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        transform: rotate(360deg);
                        transition: transform 500ms ease-in-out;
                    }
                    .prix{
                        transform: translateX(-250px);
                    }
            }
        }

        @keyframes slide {
            from {
              transform: translateX(8rem);
            }
            to {
              transform: translateX(0);
            }
          }

/*media queries*/
@media screen and (min-width : 768px) and (max-width : 1024px){
    .bulle{
        width:60em;
    }
    #contenaire_bulles{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}
/*desktop*/
@media screen and (min-width : 1024px) and (max-width : 1700px){
    #contenaire_bulles{
        display: flex;
        justify-content: space-around;
    }
    .bulle_chiffre{
        width: 3em;
    }
    .bulle{
        width:27em;
    }
    .restaurants_articles{
        width: 47em;
        margin-right: 0em;
  }
    .images_figures{
        width: 41em;
    }
    .etiquette{
        position: relative;
        right:5em;
    }
    .contenaire_article{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #section_restaurants{
        height: 150em;
    }
    .coeur_box{
        position: relative;
        top:1.5em;
    }
}
@media screen and (min-width : 1700px) and (max-width : 1999px){
    header{
        width:100%;
        
    }
    main{
        width:100%;
    }
    h2{
        width:100%;
    }
    body{
        margin-left: 6em;
        margin-right: 6em;
    }
    #section_fonctionnement{
        width:100%;
    }
    #section_restaurants{
        width: 100%;
    }
    #contenaire_bulles{
        width: 100%;
    }
    #contenaire_bulles{
        display: flex;
        justify-content: space-around;
    }
    .bulle_chiffre{
        width: 3em;
    }
    .bulle{
        width:27em;
    }
    .restaurants_articles{
        width: 47em;
        margin-right: 0em;
  }
    .images_figures{
        width: 41em;
    }
    .etiquette{
        position: relative;
        right:5em;
    }
    .contenaire_article{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #section_restaurants{
        height: 150em;
    }
    .coeur_box{
        position: relative;
        top:1.5em;
    }
    footer{
        width:93%;
    }
    .les_menus{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
/*Ultra-width*/
@media screen and (min-width : 2000px) and (max-width:2810px){
    header{
        width:100%;
    }
    main{
        width:100%;
    }
    h2{
        width:100%;
    }
    #section_fonctionnement{
        width:100%;
    }
    #section_restaurants{
        width: 100%;
    }
    #contenaire_bulles{
        width: 100%;
    }
    body
    {
        margin-right: 10em;
        margin-left: 10em;
    }
    #contenaire_bulles{
        display: flex;
        justify-content: space-around;
    }
    .bulle_chiffre{
        width: 4em;
        height: 3em;
    }
    .bulle{
        width:35em;
    }
    .restaurants_articles{
        width: 52em;
        margin-right: 0em;
  }
    .images_figures{
        width: 46em;
    }
    .etiquette{
        position: relative;
        right:3em;
    }
    .contenaire_article{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #section_restaurants{
        height: 150em;
    }
    footer{
        width:95%;
    }
    .les_menus{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #image_menu_un{
        width: 100%;
    }

    }
    @media screen and (min-width : 2810px){
        body{
            margin-left: 20em;
            margin-right: 20em;
        }
        header{
            width:100%;
        }
        main{
            width:100%;
        }
        h2{
            width:100%;
        }
        #contenaire_bulles{
            display: flex;
            
        }
        .bulle{
            width:35em;
        }
        #section_fonctionnement{
            width:100%;
        }
        #section_restaurants{
            width: 100%;
        }
        #contenaire_bulles{
            width: 100%;
        }
        .restaurants_articles{
            width: 52em;
            margin-right: 0em;
      }
        .images_figures{
            width: 46em;
        }
        .etiquette{
            position: relative;
            right:3em;
        }
        .contenaire_article{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        #section_restaurants{
            height: 150em;
        }
        footer{
            width:94%;
        }
        .les_menus{
           
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        #image_menu_un, #image_menu_deux, #image_menu_trois, #image_menu_quatre{
            width: 100%;
        }
    }