@import "./Utils/mixins.scss";
@import "./utils/variables";
@import "./Components/selecteurs";

    h1, h2{
        @include typo-titres(5em);
    }
    
    h3{
        @include typo-titres(1.5em);
        margin-bottom: 0.5em;
    }
    p{
        font-family: $police_texte;
        font-weight: light;
        font-size: 3em;
    }
    #section_fonctionnement{
        margin: 3em;
    }

    #logo{
        width: 20%;
        margin-top: 3em;
        margin-bottom: 3em;
    }
    
    .icons{
        font-size: 3.5em;
        padding: 0.5em;
        opacity: 50%;
        margin-left: 0.5em;
    }
    #lieu{
        background-color: $fond_header_ville;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    form{
        width: 33em;
    }
    form input{
        height: 5em;
        width: auto;
        background-color: $fond_header_ville;
        border: 0px;
    }
    #ville{
        @include typo-titres(3em);
    }
    h1{
        width:80%;
        text-align: center;
        margin-bottom: 0em;
    }
    #texte_header{
        width: 90%;
        text-align: center;
        margin: 0em;
        color: grey;
        font-family: $police_texte;
        font-weight: 300;
    }
    #exploration{
        height: 53em;
        width: 100%;
        display: flex;
        align-items: flex-start;
    }
    #box_exploration{
        margin-top: 3em;
        height: 40em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    figcaption{
        @include typo-titres (3em);
    }
    .bulle_chiffre:nth-child(1){
        margin-left: -50px;
    }
    /*Figure*/
    .figcaption_restaurants{
     width: 100%;
     border-radius: 0px 0px 40px 40px;
     background-color: white;
     padding-left: 1em;    
    }
    /*Coeur avec animation*/
    .coeur_box{
        .coeur_plein{
            opacity: 0;
        }
        &:hover{
            .coeur{
                opacity: 0;
                transition: .5s 0s ease;
            }
            
            .coeur_plein{
                @include coeur;
                font-weight: 900;
                font-size: 2.5em;
                display: flex;
                justify-content: flex-end;
                margin-top: -120px;
               margin-left: 0.05em;
                opacity: 1;
                animation: slide_coeur 0.8s;
            }
            
        }
    }
    .coeur:nth-child(1){
        font-size: 2.3em;
        display: flex;
        justify-content: flex-end;
        margin-top: -70px;
        font-weight: 0;
    }

    @keyframes slide_coeur {
            5%{
            @include coeur_debut;
            opacity: 0.5;
            }
            30%{
            @include coeur_milieu;
            opacity: 0.5;
            }
            50%{
            @include coeur_trois_quart;
            opacity: 0.7;
            }
            60%{
            @include coeur;
            }
      }
/*Menu*/
    .coeur_box_menu{   
        height: 0em;
        .coeur_plein_menu{
            opacity: 0;
        }
        .coeur_menu{
                font-size: 1.5em;
                display: flex;
                justify-content: flex-end;
        }
        &:hover{
            .coeur_menu{
                opacity: 0;
                transition: .5s 0s ease;
            }
            .coeur_plein_menu{
                @include coeur;
                font-weight: 900;
                font-size: 1.5em;
                display: flex;
                justify-content: flex-end;
                margin-top: -25px;
                
                position: relative;
                
                
                opacity: 1;
                animation: slide_coeur 0.5s;
            }
        }
    }
    /*
    .coeur_menu:nth-child(2){
        font-size: 5em;
        display: flex;
        justify-content: flex-end;
        margin-top: -70px;
        font-weight: 0;
    }
*/
    #titre_restaurants{
        margin-left: 0.7em;
        padding-top: 1.3em;
        width: 95%;
    }
    #section_restaurants{
        margin-top: 15em;
        margin-left: 1em;
       
    }
    /*Footer*/
    footer{
        background-color: #353535;
        padding-top: 1em;
        padding-left: 1em;
        font-size: 2.5em;
        ul{
            list-style-type: none;
            li{
                color: white;
                a{
                    color: white;
                    text-decoration: none;
                    @include typo-footer(1em);
                }
            }
        }
    }
    #le_menu{
        background-color: $fond_gris;
        padding-top: 1em;
        margin-top: -50px;
        z-index: 1;
        padding-left: 1.5em;
        padding-right: 1.5em;
        border-radius: 70px 70px 0px 0px;

    }

    .image_fond_menus{
        height:40em;
        width: 100%;
        object-fit: cover;
        z-index: -1;
    }
    .image_menu{
        width: 100%;
        height: 33em;
        display: flex;
        justify-content: center;
    }
    .icons_menu{
        font-size: 1.5em;
        position: relative;
        right:1em;
        bottom:0.1em;
    }
    
    a{
        text-decoration: none;
        color: black;
    }
   /*SPINNER LOADING*/
   .box_spinner{
    animation: background-appear 2s .2s;
    opacity: 0;
    position: absolute;
    top:0em;
    height: 100%;
    width: 100%;
    background-color:#f6f6f6;
    z-index: -2;
    .spinner_1{
        &::before{
            content:"";
            position:absolute;
            top:50%; left:50%;
            width:200px;
            height:200px;
            margin-top:-30px;
            margin-left:-30px;
            border-radius: 50%;
            border: 20px solid $couleur_primaire;
            border-top-color: $couleur_secondaire;
            border-bottom-color:$couleur_tertiaire;
            animation: spinner 0.7s ease infinite;
            background-color: #f6f6f6;
        }
    }
    &::before{
        content: "";
        opacity:1;
        position: absolute;
        top:0em;
        height: 100%;
        width: 100%;
        }
}

 
   @keyframes spinner{
       to{
           transform: rotate(360deg);
       }
   }
  
    @keyframes background-appear {
        0%{
        opacity: 1;
        z-index: 1;
        }
        40%{
        opacity: 0.95;
        }
        60%{
        opacity: 0.9;
        z-index: 1;
        }
        80%{
        opacity: 0.8;
        z-index: 1;
        }
        98%{
        opacity: 0.7;
        z-index: 1;
        }
        100%{
        opacity: 0;
        z-index: 1;
        }
    }

    @keyframes appear {
        0%{
        opacity: 0;
        z-index: 1;
        }
        50%{
        opacity: 0.5;
        z-index: 1;
        }
        70%{
        opacity: 0.7;
        z-index: 1;
        }
        100%{
        opacity: 1;
        z-index: 1;
        }
    }
    /*Apparition des plats*/
    @keyframes fadeAndScale2 {
        0% {
            opacity: 0;
            
        }
        20%{
            opacity:0.2;
            
        }
    
        40% {
            opacity: 0.7;
            
        }
        60%{
            opacity:0.6;
        }
        80%{
            opacity:0.8;
        }
        100% {
            opacity: 1;
            
        }
    }
   

        .apparition{
            animation: fadeAndScale2 0.5s;
            animation-delay: 0.5s;
            animation-fill-mode: backwards;
        }
        .apparition_2{
            animation: fadeAndScale2 0.5;
            animation-delay: 1s;
            animation-fill-mode: backwards;
        }
        .apparition_3{
            animation: fadeAndScale2 0.5s;
            animation-delay: 1.5s;
            animation-fill-mode: backwards;
        }

       
        .bulles_menu{
            height: 3em;
            width: 92%;
            padding-bottom: 1em;
            margin-bottom: 1em;
            overflow: hidden;
                .icon_validation{
                    opacity: 0;
                }
            &:hover{
                .validation{ 
                        border-radius: 0px 25px 25px 0px;
                        background-color: $couleur_tertiaire;
                        width: 5em;
                        height: 5em;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        bottom:2.5em; left:80%; 
                        animation: slide 1s;
                }
                    .icon_validation{
                        opacity: 1;
                        font-size: 1.5em;
                        color: white;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        transform: rotate(360deg);
                        transition: transform 500ms ease-in-out;
                    }
                    .prix{
                        transform: translateX(-100px);
                       
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        
                    }
            }
        }

        @keyframes slide {
            from {
              transform: translateX(8rem);
            }
            to {
              transform: translateX(0);
            }
          }
          
#contenaire_bulles{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        }

.etiquette{
        @include typo-titres(2.5em);
        background-color: $couleur_tertiaire;
        filter: brightness(115%);
        border-radius: 10px;
        width:6em;
        height: 2em;
        text-align: center;
        color:green;
        z-index: 2;
        position: absolute;
        top: 2em;
        left: 75%;
        padding-top: 0.5em;
        }

.restaurants_articles{
        width: 100%;  
        position:relative;
      }

body{
        overflow-x: hidden;
        }
h3{
    width:99%;
}
.btn_menu{
    width: 50%;
    height: 2.9em;
    @include typo-footer(1em);
    margin-bottom: 5em;
}
.footer_menus{
    width: 100%;
}
/*media queries*/
@media screen and (max-width : 497px){
    .box_menu{
        display: flex;
        justify-content: center;
    }
    #le_menu{
        
        width: 100%;
    }
    .bulles_menu:hover{
        .prix{
            transform: translateX(-60px);

            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            
        }
    }
   /*Coeur avec animation*/
   .coeur_box{
    .coeur_plein{
        opacity: 0;
    }
    &:hover{
        .coeur{
            opacity: 0;
            transition: .5s 0s ease;
        }
        
        .coeur_plein{
            @include coeur;
            font-weight: 900;
            font-size: 2.5em;
            display: flex;
            justify-content: flex-end;
            margin-top: -120px;
           margin-left: 0.05em;
            opacity: 1;
            animation: slide_coeur 0.8s;
        }
        
    }
}
}
@media screen and (min-width : 497px) and (max-width : 1200px){
    #le_menu{ 
        width: 28.5em;
    }
    .box_menu{
        display: flex;
        justify-content: center;
    }
}
  /*Coeur avec animation*/
  .coeur_box{
    .coeur_plein{
        opacity: 0;
    }
    &:hover{
        .coeur{
            opacity: 0;
            transition: .5s 0s ease;
        }
        
        .coeur_plein{
            @include coeur;
            font-weight: 900;
            font-size: 2.5em;
            display: flex;
            justify-content: flex-end;
            margin-top: -400px;
            
            opacity: 1;
            animation: slide_coeur 0.8s;
        }
        
    }
}
@media screen and (min-width : 1201px) and (max-width : 1600px){
    .box_menu{
        display: flex;
        justify-content: center;
    }
    #le_menu{
        width: 40em;
    }
    .bulles_menu{
        
        &:hover{
            .validation{ 
                    border-radius: 0px 25px 25px 0px;
                    background-color: $couleur_tertiaire;
                    width: 5em;
                    height: 5em;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    bottom:2.5em; left:86.5%; 
                    animation: slide 1s;
            }
        }
}}
  /*Coeur avec animation*/
  .coeur_box{
    .coeur_plein{
        opacity: 0;
    }
    &:hover{
        .coeur{
            opacity: 0;
            transition: .5s 0s ease;
        }
        
        .coeur_plein{
            @include coeur;
            font-weight: 900;
            font-size: 2.5em;
            display: flex;
            justify-content: flex-end;
            margin-top: -180px;
           margin-right: 0.05em;
            opacity: 1;
            animation: slide_coeur 0.8s;
        }
        
    }
}
@media screen and (min-width : 1601px) and (max-width : 2000px){
    .box_menu{
        display: flex;
        justify-content: center;
    }
    #le_menu{
        width: 60em;
    }
    .bulles_menu{
        
        &:hover{
            .validation{ 
                    border-radius: 0px 25px 25px 0px;
                    background-color: $couleur_tertiaire;
                    width: 5em;
                    height: 5em;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    bottom:2.5em; left:91%; 
                    animation: slide 1s;
            }
        }
}}
  /*Coeur avec animation*/
  .coeur_box{
    .coeur_plein{
        opacity: 0;
    }
    &:hover{
        .coeur{
            opacity: 0;
            transition: .5s 0s ease;
        }
        
        .coeur_plein{
            @include coeur;
            font-weight: 900;
            font-size: 2.5em;
            display: flex;
            justify-content: flex-end;
            margin-top: -120px;
            
            opacity: 1;
            animation: slide_coeur 0.8s;
        }
        
    }
}
@media screen and (min-width : 2000px){
    .box_menu{
        display: flex;
        justify-content: center;
    }
    #le_menu{
        width: 90em;
    }
    .bulles_menu{
        
        &:hover{
            .validation{ 
                    border-radius: 0px 25px 25px 0px;
                    background-color: $couleur_tertiaire;
                    width: 8em;
                    height: 8em;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    bottom:5.3em; left:91%; 
                    animation: slide 1s;
            }
        }
}
.btn_menu{
    width: 30%;
    height: 2.5em;
    @include typo-footer(2em);
    margin-bottom: 5em;
}
.titres_des_menus{
    font-size: 3em;
}
.sous_titres_menus{
     font-size: 2em;
}
.prix{
    @include typo-titres(1.5em);
}
.titre_bulle_menu{
    font-size: 1.5em;
}
.texte_bulle_menu{
    font-size: 1.2em;
}
.bulles_menu{
    height: 6em;
}
}
@media screen and (min-width : 3070px){
    .div_bulle{
        width:33.3%;
    }
    
}
.footer_menus{
    font-size: 1em;
}

/*Ultra-width*/
@media screen and (min-width : 2000px) and (max-width:2810px){
    header{
        width:100%;
    }
    main{
        width:100%;
    }
    h2{
        width:100%;
    }
    #section_fonctionnement{
        width:100%;
    }
    #section_restaurants{
        width: 100%;
    }
    #contenaire_bulles{
        width: 100%;
    }
    #contenaire_bulles{
        display: flex;
        justify-content: space-around;
    }

    .contenaire_article{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
  
    footer{
        width:95%;
    }
    .les_menus{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #image_menu_un{
        width: 100%;
    }
    /*
    .coeur::before{
        font-size: 0.8em;
        position: relative;
        top:0.8em;
    }
    .coeur_plein::before{
        font-size: 0.8em;
        margin-top: 0.8em;
    }*/
    .bulles_menu:hover{
        .icon_validation{
            opacity: 1;
            font-size: 2.5em;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            transform: rotate(360deg);
            transition: transform 500ms ease-in-out;
        }
    }
    }
    @media screen and (min-width : 2810px){
        header{
            width:100%;
            
        }
        main{
            width:100%;
        }
        h2{
            width:100%;
        }
        #section_fonctionnement{
            width:100%;
        }
        #section_restaurants{
            width: 100%;
        }
        #contenaire_bulles{
            width: 100%;
        }
        #contenaire_bulles{
            display: flex;
            justify-content: space-around;
        }

       
        .restaurants_articles{
            width: 100%;
            margin-right: 0em;
      }
       
        .contenaire_article{
            display: grid;
            grid-template-columns: 50% 50%;
            grid-column-gap: 10px;
            
        }
      
        .coeur_box{
            position: relative;
            top:1.5em;
        }
    
        .les_menus{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
         
        }
        /*
        .coeur::before{
            font-size: 0.8em;
            position: relative;
            top:0.5em;
        }*/
     /*
        .coeur_plein::before{
            font-size: 0.8em;
            margin-top: 0.5em;
        }*/
        #image_menu_un, #image_menu_deux,#image_menu_trois, #image_menu_quatre {
            width:70%;
        }
        .bulles_menu:hover{
            .icon_validation{
                opacity: 1;
                font-size: 2.5em;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                transform: rotate(360deg);
                transition: transform 500ms ease-in-out;
            }
        }
        
    }