@charset "UTF-8";
/*Variables*/
/*Variables*/
/*Mixins*/
/*Sélecteurs*/
.boutton {
  width: 14em;
  height: 3em;
  border-radius: 60px;
  border: none;
  background: linear-gradient(to right bottom, #FF79DA, #9356DC);
  color: white;
  box-shadow: 5px 5px 15px grey;
  font-family: "Roboto", sans-serif;
  font-weight: light 300;
  font-size: 2.5em;
  cursor: pointer;
  transition: transform 400ms;
}
.boutton:hover {
  background-color: #FF79DA;
  opacity: 80%;
  box-shadow: 10px 10px 30px grey;
}

.position-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.position-flex--flexstart {
  justify-content: flex-start;
}

.position-flex-start {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.bulle_chiffre {
  background-color: #9356DC;
  border-radius: 100%;
  width: 2em;
  height: 2em;
  color: white;
}

.bulle {
  background-color: #F6F6F6;
  border-radius: 30px;
  display: flex;
  align-items: center;
  margin-bottom: 3em;
  box-shadow: 5px 5px 30px #b8b7b7;
}
.bulle:hover {
  background-color: rgba(147, 86, 220, 0.15);
}
.bulle:hover .icons {
  color: #9356DC;
  opacity: 100%;
}

.fond_gris {
  background-color: #F6F6F6;
}

/*figure acceuil les restaurants*/
.images_figures {
  width: 70em;
  height: 40em;
  border-radius: 40px 40px 0px 0px;
  object-fit: cover;
}

.texte_figure {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 1.4em;
  width: 80%;
  margin-top: 0em;
}

.margin_bottom {
  margin-bottom: 4em;
}

.padding_right {
  padding-right: 0.7em;
}

.padding_bottom {
  padding-bottom: 0.5em;
}

/*footer*/
.logo_footer {
  filter: invert(93%) sepia(0%) saturate(7465%) hue-rotate(282deg) brightness(106%) contrast(103%);
  padding-left: 1em;
  padding-top: 0.5em;
  height: 1.1em;
}

/*Les menus*/
.image_fond {
  width: 100%;
}

.titres_des_menus {
  font-family: "Shrikhand", cursive;
  display: flex;
  justify-content: flex-start;
}

.sous_titres_menus {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  text-transform: uppercase;
  font-size: 3em;
  border-bottom: 5px #99E2D0 solid;
  width: 2.2em;
}

.coeur_menu {
  font-size: 4em;
  position: relative;
  top: -1.5em;
  left: 20em;
}

.bulles_menu {
  background-color: white;
  border-radius: 30px;
  padding-left: 1.5em;
  padding-top: 1em;
  width: 100%;
}

.titre_bulle_menu {
  font-size: 3em;
  margin-top: 0.5em;
}

.texte_bulle_menu {
  font-size: 2.5em;
  font-weight: lighter;
  margin-top: 0em;
}

.prix {
  font-size: 2.5em;
  display: flex;
  justify-content: flex-end;
  padding-right: 1.5em;
  padding-bottom: 0.5em;
}

.prix:nth-child(3) {
  margin-top: -70px;
}

.bouton_menus {
  display: flex;
  justify-content: center;
  margin-top: 10em;
}

h1, h2 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 5em;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: light;
  font-size: 3em;
}

/*Adaptation des éléments*/
body {
  width: 89em;
}

#section_fonctionnement {
  margin: 3em;
}

#logo {
  width: 37em;
  margin-top: 3em;
  margin-bottom: 3em;
}

.icons {
  font-size: 3.5em;
  padding: 0.5em;
  opacity: 50%;
  margin-left: 0.5em;
}

#lieu {
  background-color: #EAEAEA;
  width: 100%;
  display: flex;
  justify-content: center;
}

form {
  width: 33em;
}

form input {
  height: 5em;
  width: auto;
  background-color: #EAEAEA;
  border: 0px;
}

#ville {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 3em;
}

h1 {
  width: 80%;
  text-align: center;
  margin-bottom: 0em;
}

#texte_header {
  width: 90%;
  text-align: center;
  margin: 0em;
}

#exploration {
  height: 53em;
  display: flex;
  align-items: flex-start;
}

#box_exploration {
  margin-top: 3em;
  height: 40em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

figcaption {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 2.5em;
}

.bulle_chiffre:nth-child(1) {
  margin-left: -50px;
}

/*Figure*/
.figcaption_restaurants {
  width: 93%;
  border-radius: 0px 0px 40px 40px;
  background-color: white;
  padding-left: 1em;
}

.coeur:nth-child(1) {
  font-size: 2.5em;
  display: flex;
  justify-content: flex-end;
  margin-top: -80px;
}

.etiquette:nth-child(1) {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 2.5em;
  background-color: #99E2D0;
  filter: brightness(115%);
  border-radius: 10px;
  width: 6em;
  height: 2em;
  text-align: center;
  padding-top: 25px;
  color: green;
  margin-left: 20em;
  margin-bottom: -4.3em;
  z-index: 1;
}

#titre_restaurants {
  margin-left: 0.7em;
  padding-top: 1.3em;
}

#section_restaurants {
  margin-top: 15em;
  height: 270em;
}

/*Footer*/
footer {
  background-color: #353535;
  height: 12em;
  width: 100%;
  padding-left: 3em;
  padding-top: 1em;
  font-size: 2.5em;
}
footer ul {
  list-style-type: none;
}
footer ul li {
  color: white;
}
footer ul li a {
  color: white;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: light 300;
  font-size: 1em;
}

#le_menu {
  width: 100%;
  height: 210em;
  background-color: #F6F6F6;
  padding-top: 1em;
  margin-top: -50px;
  padding-left: 4em;
  padding-right: 4em;
  border-radius: 70px 70px 0px 0px;
}

#image_menu_un {
  height: 50em;
  width: 97em;
  background-image: url("/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  background-size: cover;
}

#image_menu_deux {
  height: 50em;
  width: 97em;
  background-image: url("/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  background-size: cover;
}

#image_menu_trois {
  height: 50em;
  width: 97em;
  background-image: url("/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-size: cover;
}

#image_menu_quatre {
  height: 50em;
  width: 97em;
  background-image: url("/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  background-size: cover;
}

.icons_menu {
  font-size: 3em;
  position: relative;
  right: 7em;
}

a {
  text-decoration: none;
  color: black;
}

/*# sourceMappingURL=style.css.map */
