/*Sélecteurs*/
.boutton{
    width:14em;
    height: 3em;
    border-radius: 60px;
    border: none;
    background: linear-gradient(to right bottom, $couleur_secondaire, $couleur_primaire);
    color: white;
    box-shadow: 5px 5px 15px grey;
    z-index: 1;
    @include typo-footer(2.5em);
    cursor: pointer;
    transition: transform 400ms;
        &:hover {
            background-color: $couleur_secondaire;
            opacity: 80%;
            box-shadow: 10px 10px 30px black;
        }
}
.position-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    &--flexstart{
        justify-content: flex-start;
    }
}
.position-flex-start{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.bulle_chiffre{
    background-color: $couleur_primaire;
    border-radius: 100%;
    width:2em;
    height: 2em;
    color:white;
}
.bulle{
    background-color: $fond_gris;
    border-radius: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 3em;
    box-shadow: 5px 5px 30px rgb(184, 183, 183);
    &:hover{
        background-color: rgba(147, 86, 220, 0.15);
        .icons{
            color: $couleur_primaire;
            opacity: 100%;
        }
    }
}
.fond_gris{
    background-color: $fond_gris;
}

/*figure acceuil les restaurants*/
.images_figures{
    width:88em;
    height: 40em;
    border-radius: 40px 40px 0px 0px;
    object-fit: cover;
}
.texte_figure{
    @include typo-figure(lighter);
    width: 80%;
    margin-top: 0em;
}
.margin_bottom{
    margin-bottom: 4em;
}
.padding_right{
    padding-right: 0.7em;
}
.padding_bottom{
    padding-bottom: 0.5em;
}
/*footer*/
.logo_footer{
    filter: invert(93%) sepia(0%) saturate(7465%) hue-rotate(282deg) brightness(106%) contrast(103%);
    padding-left: 1em;
    padding-top: 0.5em;
    height: 1.1em;
}
/*Les menus*/
.image_fond{
    width:100%;
}
.titres_des_menus{
    font-family: $police_titre_menu;
    display: flex;
    justify-content: flex-start;
    
}
.sous_titres_menus{
     font-family:'Roboto', sans-serif; 
     font-weight: lighter;
     text-transform: uppercase;
     font-size: 3em;
     
     border-bottom: 5px $couleur_tertiaire solid;
     width:2.2em;
}
.coeur_menu{
    font-size: 4em;
    position: relative;
    top: -1.5em; left: 20em;
}
.bulles_menu{
    background-color: white;
    border-radius: 30px;
    padding-left: 1.5em;
    padding-top:1em;
    width:100%;
}
.titre_bulle_menu{
    font-size: 3.5em;
    margin-top: 0em;
}
.texte_bulle_menu{
    font-size: 3em;
    font-weight: lighter;
    margin-top: 0em;
}
.prix{
    @include typo-titres(3em);
    display: flex;
    justify-content: flex-end;
    padding-right: 1.5em;
    
}
.prix:nth-child(3){
    margin-top:-70px;
}
.bouton_menus{
    display: flex;
    justify-content: center;
    margin-top: 10em;
}