/*Mixins*/
@mixin typo-titres($taille){
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: $taille;
    }

@mixin typo-figure($weight){
    font-family: 'Roboto', sans-serif;
    font-weight: $weight;
    font-size: 1.4em;
}
@mixin typo-footer ($taille){
    font-family: 'Roboto', sans-serif;
    font-weight: light 300;
    font-size: $taille;
}
@mixin background-image($url){
    height:50em;
    width: 97em;
    background-image: url($url);
    background-size: cover;
}
@mixin coeur{
    background: linear-gradient(to right top, $couleur_secondaire 0%,$couleur_primaire 100%);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color:transparent;
}
@mixin coeur_debut{
    background: linear-gradient(to top, $couleur_secondaire 30%, $couleur_primaire 10%, white 30%);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color:transparent;
}
@mixin coeur_milieu {
    background: linear-gradient(to top, $couleur_secondaire 60%,white 30%);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color:transparent;
}
@mixin coeur_trois_quart {
    background: linear-gradient(to top, $couleur_secondaire 80%,white 30%);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color:transparent;
}