/*Variables*/
$fond_header_ville:#EAEAEA;
$fond_gris:#F6F6F6;

$couleur_primaire:#9356DC;
$couleur_secondaire:#FF79DA;
$couleur_tertiaire:#99E2D0;

$police_texte:'Roboto', sans-serif;
$police_titre_menu:'Shrikhand', cursive;

$coeur-début: rgba(1, 28, 55, 0);
$coeur-fin: rgba(1, 28, 55, 1);
